<img class="banner" src="https://image.tmdb.org/t/p/original{{movie.backdrop_path}}">
<div class="container" style="margin-top: 130px;">
    <section class="header">
        <img class="movie-card-img" width="300" height="400" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="">
            <div>
                <h1>{{movie.title}} ({{movie.release_date}})</h1>
                <p style="display:inline">• Genre : </p>
                <div *ngFor="let genre of movie.genres; let last = last" style="display: inline;">
                    <p *ngIf="last" style="display: inline;" >{{genre.name}} </p>
                    <p *ngIf="!last" style="display: inline;" >{{genre.name}}, </p>
                </div>
                <div><p *ngIf="movie.runtime > 0">• Durée : {{movie.runtime | minuteSeconds}} </p></div>
                <app-gallerie-img *ngIf="images.length > 1" [images]="images"></app-gallerie-img>  
                <button pButton type="button" (click)="addFavoriteMovie(movie)" icon="pi pi-heart" label="Ajouter en favoris" class="p-button-sm" *ngIf="authService.user | async"></button> 
            </div>
        <div class="movie-trailer">
            <app-trailer-modal [safeURL]="safeURL"></app-trailer-modal>
        </div>
    </section>
    <section class="movie-overview">
        <h2>Synopsis</h2>
        <p>{{movie.overview}}</p>
    </section>
    <app-people [id]="id"></app-people>
    <section class="movie-review">
        <div *ngIf="reviews.length > 0">
            <div class="review-header">
                <h3>Avis ({{reviews.length}} disponible)</h3>
                <p *ngIf="!display" (click)='update()'><i class="arrow down"></i></p>
                <p *ngIf="display" (click)='update()'><i class="arrow up"></i></p>
            </div>
            <ng-container *ngIf="!display">
            <app-add-comment [movieId]="movie.id"*ngIf="authService.user | async"></app-add-comment>
            <h2>Commentaire provenant de <strong>Movie News</strong></h2>

            <app-comments-list [id]="movie.id"></app-comments-list>
            <div *ngFor="let review of reviews">
                <h2>Commentaire provenant de <strong>THEMOVIEDB</strong></h2>
                <div class="review-card">
                    <img src="https://www.gravatar.com/avatar/{{review.avatar_path}}" width="80" height="80" alt="">
                    <div class="review-user">
                        <div class="review-user-informations">
                            <p><strong>{{review.author_details.username}}</strong> a ecrit le <i>{{review.created_at | date: 'dd/MM/yyyy'}}</i> : </p>
                            <p><img src="../../assets/starIcon.png" style="margin:0" width="18" height="18" alt=""> {{review.author_details.rating}}/10</p>
                        </div>
                        <p>"{{review.content}}"</p>
                    </div>
             
                </div>
                <br> 
            </div>
        </ng-container>
    </div> 
    </section>
    <section class="similar-movies">
        <h2>Films similaires</h2>
        <p-carousel [value]="similarMovies" [autoplayInterval]="3000" [numVisible]="5" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions">
            <ng-template let-item pTemplate="item">
                <div class="product-item">
                    <div class="product-item-content" >
                        <app-movie-card [movie]="item" [routerLink]="['/movie/', item.id]"></app-movie-card>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </section>









