
<div class="container mt-6">
    <h2>Mon compte</h2>
    <div class="account">
        <div class="account--informations">
            <div class="account--informations-avatar">
                <ng-template [ngIf]="photoURL">
                    <img width="120px" height="120px" src="{{photoURL}}" alt="profile">
                </ng-template>
                <ng-template [ngIf]="!photoURL">
                    <img width="120px" height="120px" src="{{notPhotoURL}}" alt="profile">
                </ng-template>
            </div>
            <div class="account--informations-details">
                <p>{{displayName}}</p>
                <p>Adresse mail : {{email}}</p>
                <p>Compte crée le {{creationTime}}</p>
            </div>
        </div>
        <h3>Votre compte en quelques chiffres</h3>
        <div class="account--informations-statistiques">
            <p>Nombe de films favoris : {{favoriteMovies.length}}</p>
        </div>
        <div class="account--informations-favmovies">
            <h3>Vos films favoris</h3>
            <p *ngIf="favoriteMovies.length == 0">Aucuns films n'a été ajouté en favoris pour l'instant</p>
            <div class="card" *ngIf="favoriteMovies.length != 0">
                <p-dataView #dv [value]="favoriteMovies" [paginator]="true" [sortField]="sortField" [sortOrder]="sortOrder" [rows]="6" filterBy="original_title" layout="grid">
                    <ng-template pTemplate="header">

                        <div class="flex flex-column md:flex-row md:justify-content-between">
                            <span class="p-input-icon-left mb-2 md:mb-0">
                                <input type="search" pInputText placeholder="Rechercher par titre de film" (input)="dv.filter($any($event.target).value)">
                            </span>
                            <p-dropdown [options]="sortOptions" placeholder="Trier" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>

                        </div>
                    </ng-template>
                    <ng-template let-product pTemplate="listItem">
                        <div class="col-5">
                            <div class="product-list-item">
                                <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" [alt]="product.name"/>
                                <div class="product-list-detail">
                                    <div class="product-name">{{product.title}}</div>
                                    <div class="product-description">{{product.description}}</div>
                                </div>
                            </div>
                        </div>
                        
                    </ng-template>
                 
                    <ng-template let-product pTemplate="gridItem" >
                        <div class="col-12 md:col-3">
                            <div class="product-grid-item card" style="background: transparent;
                            border-style: solid;
                            border-width: 1px;
                            border-color: #272935;;
                            border-radius: 0.3rem;" >
                                <div class="product-grid-item-top">
                                </div>
                                <div class="product-grid-item-content" [routerLink]="['/movie/', product.movieId]">
                                    <img src="https://image.tmdb.org/t/p/original{{product.poster_path}}" width="190" height="220" style="border-radius: 25px;"[alt]="product.name"/>
                                    <div >{{product.average_note}}</div>
                                    <div class="product-name">{{product.title}}</div>
                                    <div *ngFor="let genre of product.genre; let last = last" style="display: inline;font-size: 2px;font-style: italic;">
                                        <p *ngIf="last" style="display: inline;" >{{genre.name}} </p>
                                        <p *ngIf="!last" style="display: inline;" >{{genre.name}}, </p>
                                    </div>
                                    <p> <img src="assets/starIcon.png" width="18" height="18" alt=""> {{product.vote_average}}/10</p>
                                </div>
                                <div class="product-grid-item-bottom">
                                    <p [ngStyle]="{'color': product.watched ? '#2196f3' : 'white'}" (click)="filmWatched(product)" class="p-button-sm" style="cursor: pointer;">{{product.watched ? 'Film vu' : 'Film non vu'}}</p>
                                    <button pButton type="button"  (click)="deleteFavoriteMovie(product)" class="p-button-sm p-button-rounded " icon="pi pi-trash"></button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </div>

    
            
            
        </div>
    </div>
</div>


