<div class="grid grid-nogutter surface-section text-900">
    <div class="col-10 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Movie News</span>
            <div class="text-3xl text-primary font-bold mb-3">Venez découvrir des films</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Des informations précieuses concernant tous les films du moment vous attendent!</p>
            <button [routerLink]="['/filter']"  type="button" class="btn btn-primary btn-lg">Voir les films</button>
        </section>
    </div>
    <div class="col-10 md:col-6 " style="overflow:hidden;">
        <img src="assets/bannerImg.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%);">
    </div>
</div>


