.comments-section {
    display: flex;
}


.review-card{
    padding: 20px;
    border-radius: 15px;
    background-color: #161824;
    display: flex;
  }
  
  .review-card img {
    margin-right: 20px;
  }
  
  .review-user-informations {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  
  .review-header {
    display: flex;
    align-items: baseline;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  .arrow {
    cursor: pointer;
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    margin-left: 20px;
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin:20px;
  }
  
  form textarea {
    margin-right:10px;
    background-color: #161824;
    border: none;
    color:white;
    flex: 1;
    padding:10px;
    border: none;
    overflow: auto;
    outline: none;
  
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; 
  }
  