@import "../node_modules/primeflex/primeflex.css";

h1 { color: #ffffff; font-family: 'Raleway',sans-serif;  font-weight: 800; line-height: 72px; }
h2 { color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 30px; font-weight: 800; line-height: 36px; margin: 0 0 24px;}
p { color: #f8f8f8; font-family: 'Raleway',sans-serif; font-size: 18px; font-weight: 500; line-height: 32px; margin: 0 0 24px; }

.modal-holder{
    animation-name: anim;
    animation-duration: 0.3s;
}
  
.modal .modal-content {
    background-color: #161824;
    color: white;
}
  
.modal-header {
    border:none !important;
}
  
@keyframes anim {
 0%   {transform: scale(0.5)}
 100% {transform: scale(1)}
}

p {
    margin:0 !important;
    padding:0 !important;
}