<p-galleria [value]="images" [(visible)]="displayImgGallerie" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '500px'}" [numVisible]="7"
[circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="true" [baseZIndex]="100000">
<ng-template pTemplate="item" let-item>
    <img src="https://image.tmdb.org/t/p/original{{item.file_path}}" style="width: 700px; height: 700px;" />
</ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
            <img src="https://image.tmdb.org/t/p/original{{item.file_path}}" style="width: 70px; height: 70px;" />
        </div>
    </ng-template>
    <ng-template pTemplate="caption" let-item>
        <p *ngIf="item.vote_count != 0">Note moyenne : {{item.vote_average}}/10</p>
        <p *ngIf="item.vote_count == 0">Aucun vote n'a été attribué à cette affiche</p>
    </ng-template>
</p-galleria>
<p icon="pi pi-external-link" style="text-decoration: underline;color:#0d6efd;cursor:pointer;margin:0;" (click)="displayImgGallerie = true">Voir les affiches du films ({{images.length}})</p>
